PRN231_WCFKOISYSTEM/Net1711_231_ASM3_SE172092_NGUYENHOANGSON.MVCWebApp/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62979/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62979/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62979/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Net1711_231_ASM3_SE172092_NGUYENHOANGSON.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetBookingRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingRequests" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookingRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTravels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTravels" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTravels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTravelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateOrUpdateBookingRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateBookingRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateOrUpdateBookingRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrUpdateBookingRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBookingRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBookingRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookingRequestById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingRequestById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookingRequestById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingRequestByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetBookingRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookingRequests" message="tns:IService1_GetBookingRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookingRequestsResponse" message="tns:IService1_GetBookingRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTravels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTravels" message="tns:IService1_GetTravels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTravelsResponse" message="tns:IService1_GetTravels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCustomers" message="tns:IService1_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCustomersResponse" message="tns:IService1_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateBookingRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateOrUpdateBookingRequest" message="tns:IService1_CreateOrUpdateBookingRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateOrUpdateBookingRequestResponse" message="tns:IService1_CreateOrUpdateBookingRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBookingRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBookingRequest" message="tns:IService1_DeleteBookingRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBookingRequestResponse" message="tns:IService1_DeleteBookingRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookingRequestById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookingRequestById" message="tns:IService1_GetBookingRequestById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookingRequestByIdResponse" message="tns:IService1_GetBookingRequestById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBookingRequests">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookingRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravels">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTravels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrUpdateBookingRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateOrUpdateBookingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBookingRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBookingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookingRequestById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookingRequestById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62979/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>