PRN231_WCFKOISYSTEM/WCFKOISYSTEM.MVCWEBAPP/Connected Services/SERVICE/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62979/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFKOISTSTEM.SERVICE" />
  <xs:element name="GetTravels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFKOISTSTEM.SERVICE" minOccurs="0" name="GetTravelsResult" nillable="true" type="q1:ArrayOfTravel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateTravel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFKOISTSTEM.SERVICE" minOccurs="0" name="travel" nillable="true" type="q2:Travel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateTravelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrUpdateTravelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTravel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTravelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTravelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFKOISTSTEM.SERVICE" minOccurs="0" name="GetTravelByIdResult" nillable="true" type="q3:Travel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>