PRN231_WCFKOISYSTEM/WCFKOISYSTEM.MVCWEBAPP/Connected Services/SERVICE/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFKOISTSTEM.SERVICE" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFKOISTSTEM.SERVICE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62979/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTravel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Travel" nillable="true" type="tns:Travel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTravel" nillable="true" type="tns:ArrayOfTravel" />
  <xs:complexType name="Travel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Travel" nillable="true" type="tns:Travel" />
</xs:schema>